<div class="horizontal-navbar">
  <div class="left-content">
    <img
      src="../../assets/download1.png"
      width="180"
      height="42"
      alt="logo"
    />
    <p>UNIFIED PORTAL</p>
  </div>
  <div class="right-content">
    <div class="language-change">
      <i class="fa-solid fa-globe"></i>
      <select name="language" id="language">
        <option value="en">EN</option>
        <option value="spa">SPA</option>
        <option value="hi">HI</option>
      </select>
    </div>
    <div class="user-profile">
      <div class="user-icon">
        <i class="fa-solid fa-user fa-xs"></i>
      </div>
      <p>ale</p>
    </div>
    <div class="logout">
      <a href="#!/">Logout</a>
    </div>
  </div>
</div>