* {
  padding: 0;
  margin: 0; 

 }

body {
  background-color: gray;
}

a {
  text-decoration: none !important;
}

/* .container{
  padding-left: 2rem;
} */
/* .navbar-nav {
  display: flex;
  align-items: end;
  overflow: hidden;
} */

/* .header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
} */

#navbar {
  overflow: hidden;
  /* background-color: #333; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
}

/* NAVBAR1 */

.container{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Press Start 2P', cursive;
font-family: 'Quicksand', sans-serif;
  /* color: #fd0; */
}

.horizontal-navbar {
  position: fixed;
  left: 0;
  background-color: #000000;
  width: 100%;
 
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.left-content{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 15px;
} 

.left-content p{
  margin-top: 10px;
  margin-left: 10px;
}

.right-content{
  height:90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}



.right-content p{
  margin-top: 14px;
  margin-left: 38px;
}


.language-change{
  display: flex;
  align-items: center;
  color: #fd0;
  margin-right: 40px;
}

/* .language-change i{
  margin
} */

.language-change select{
  margin-left: 5px;
  background: none;
  color: white;
  padding: 0px;
}

/* .language-change select:active{
  background-color: white !important;
  color: white !important;
}

.language-change select::after{
  color: white;
  background-color: white;
} */

.language-change option{
  background-color: black;
  color: #fd0;
}

/* .language-change option:active{
  background-color: black;
  color: #fd0;
} */

.user-profile{
  margin-right: 40px;
  /* margin: 10px 20px; */
  display: flex;
  align-items: center;
}


.user-icon{
  padding: 0px 5px;
  border: 1px solid beige;
  border-radius: 50%;
  background-color: beige;
}

.user-profile p{
  margin-left: 8px;
  font-size: 13px;
  color: #fff;
}

.logout a{
  margin-right: 5px;
  text-decoration: none;
  color: #fd0;
  font-size: 14px;
}

.vertical-navbar {
  position: fixed;
  left: 0;
  min-height: 100vh;
  background-color: #000000;
  width: 46px;
  /* color: #fd0; */
  top: 48px;
  /* padding: 10px; */
}

.top-content{
  display: flex; 
  flex-direction: column;
  font-size: 0.5rem;
  padding: auto;
}

.top-content a{
  display: flex;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  color: #fd0;
  border-top: 0.05rem solid rgb(54, 52, 52);
  /* border-left: 4px solid; */
  padding: 25px 10px;
}


.top-content a:active{
  border-left: 3px solid #fd0 !important;
}

.top-content a i{
  margin-bottom: 10px;
}

/* .home{
  padding: 15px;
}

.user-mngmnt{
  padding: 10px;
}

.reports{
  padding: 10px;
}

.settings{
  padding: 10px;
} */

/* SETTINGS */

.main{
  font-family: 'Press Start 2P', cursive;
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  width: 100vw;
  height: 100vw;
  margin-top: 4rem;
  margin-left: 4.5rem;
}

.main h3{
  margin-top: 2.5rem;
  font-weight: bold;
}

.cards{
  margin-top: 2rem;
  position: absolute;
  display: flex;
  padding-top: 1rem;
}

.cards a{ 
  border: 1px solid white;
  border-radius: 10px;
  background-color: white ;
  width: 11rem;
  height: 8rem;
  text-decoration: none;
  color: black;
}


.card-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.card-2{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.cards a span{
  margin-top: 2rem;
}

.info-container{
  /* text-align: end;
  width: 30%; */
  display: flex;
  justify-content: end;
  /* flex-direction: row; */
}

.info{
  border: 1px solid grey;
  border-radius: 50%;
  background-color: rgb(97, 92, 92);
  color: white;
  margin-top: 10px;
  width: 18px;
  height: 18px;
}
 
 .links-style a{
  font-size: 15px;
  color: black;
} 

/* SIDENAV  */

.nav {
  overflow: hidden;
  position: fixed;
  margin-top: 2.5%;
  left: 0;
  /* z-index: 50; */
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 100vh;
  background: black;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  width: 10rem;
}

.logo {
  background-image: url("assets/logo.wu.big.svg");
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2rem;
}

@media (max-width: 600px) {
  .mob-hide {
    display: none;
  }
  .logo {
    background-image: url("assets/logo.wu.sm.svg") !important;
    width:4rem;
    height: 3rem;
    background-clip: border-box;
    background-repeat: no-repeat;
    /* background-position: center; */
    position: relative;
    top:-0.5rem;
    background-size: cover;
  }
  .nav {
    position: fixed;
    margin-top: -1%;
    bottom: 0;
    /* z-index: 50; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 4rem;
    width: 100vw;
    background: black;
  }
  .mob-nav{
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    background-color: #222 !important;
    padding: 2rem !important;

  }
  .nav .side-menu div {
    text-wrap: nowrap;
  }

  .side-menu:hover,
  .active {
    /* background-color: yellow  ;
  color: black; */
    border-left: none !important;
    border-bottom: solid 2px yellow;
  }
  .side-menu:first-child {
    margin-top: 0 !important;
  }
}

.nav a {
  /* margin-top: 10px;   */
  padding-block: 0.4rem;
  padding-inline: 0.6rem;
  min-height: 4rem;
  min-width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: black;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.side-menu {
  border-top: solid 0.1px #cccccc36;
  transition: all 50ms linear;
}
.side-menu:first-child {
  margin-top: 0.8rem;
}
.side-menu div {
  color: white;
  text-wrap: wrap;
}
.side-menu:hover,
.active {
  /* background-color: yellow  ;
  color: black; */
  border-left: solid 2px yellow;
}

.view-container {
  padding-inline: 4rem;
}

h6 {
  color: black !important;
}

/* SETTING */

.shadow-effect {
  border: none;
  box-shadow: 0 0 33px -10px black;
}

.card {
  /* padding: 50px; */
  height: 70%;
  width: 70%;
  border: 2px solid black;
}

.info {
  /* border: 2px solid yellow; */
  max-width: 15%;
}

svg > path {
  color: yellow !important;
}

.card-body > svg {
  margin-left: 25%;
  margin-bottom: 10%;
}

.card-body > svg > path {
  color: black !important;
}

.bi-info-circle {
  /* border: 2px solid black; */
  margin-left: 180px !important;
  /* margin-top: 10px !important; */
}

/* SEARCH FORM  */

.card1 {
  border: 1px solid gray !important;
  padding: 10px;
  background-color: #fff;
  /* border-radius: 10px; */
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
/* select {
  color: black;
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
} */
input:focus {
  outline: 0;
  border-color: black;
}
input:focus + .input-icon i {
  color: black !important;
}
input:focus + .input-icon:after {
  border-right-color: black !important;
}
input[type="radio"] {
  display: none;
}
/* input[type="radio"] + label,
select {
  display: inline-block;
  width: 100%;
  text-align: center;
  
  border-radius: 0;
} */
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* input[type="radio"] + label i {
  padding-right: 0.4em;
} */
/* input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  
  color: black;
  border-color: black;
} */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  /* padding-left: 1.6em; */
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: black !important;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
/* select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {

  color: black !important;
} */
.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
/* .input-group-icon input {
  padding-left: 4.4em;
} */
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  /* left: 3.4em; */
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  /* padding-right: 10px; */
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  /* padding-right: 10px; */
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}

.form-floating,label{
  outline: none;
  border: none;
  padding-inline: 0;
 color:#222 !important;
}

 .form-control{
  outline-offset: 0;
  outline-color: inherit !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;

  /* padding-left: -10px; */
  border-bottom: solid  2px #ccc !important;
  border-radius: 0 !important;
}
.form-control:focus{
border-bottom-color: #fd0 !important;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.search-button {
  align-items: center;
  background-color: yellow;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: black !important;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  /* max-width: 480px; */
  width: 100%;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.search-button:hover,
.search-button:focus {
  background-color: rgb(244, 244, 0);
  color: black !important;
}

.search-button:active {
  background: rgb(244, 244, 0);
  /* color: rgb(255, 255, 255, .7); */
}

.search-button:disabled {
  cursor: not-allowed;
  /* background: rgba(0, 0, 0, .08); */
  color: rgba(0, 0, 0, 0.3);
}


/* LOGIN FORM  */

.login-container {
  /* border: 2px solid yellow; */
  /* display: none; */
  /* background-color: #fff; */
  position: fixed;
  color: black !important;
  top: 10%;
  left: 30%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* SEARCH-DATA TABLE  */

.row {
  /* border: 2px solid black; */
  /* margin: 20px 10px; */
  display: flex;
  flex-direction: row;
}

.col-search-data {
  /* border: 2px solid black; */
  width: 200%;
}

table {
  border: 1px solid rgb(99, 99, 99);
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  color: black !important;
}

th {
  background-color: gray;
}

tr {
  border: 1px solid black;
}

/* seacrch form  */

.searchContainer {

  width: 40%;
  background-color: #f9f9f9;
  margin-top: 12%;
  margin-right: 0%;
  border-radius: 1.5%;
  padding: 2%;
}

.searchForm {

  border: 1px solid rgb(186, 184, 184);

  border-radius: .5%;

  padding: 5%;

}

.searchForm h2 {

  color: black !important;

  /* font-weight:5; */

  font-size: medium;

}



.btn {

  /* width: 100%; */

  width: 100% !important;

  margin: 5% 0 !important;

  padding: 2% !important;

  background-color: rgb(244, 231, 39) !important;

  color: black !important;

  border: none !important;

  border-radius: 20px !important;

}

.labell {

  color: (186, 184, 184) !important;

}



.form-floating2 {

  position: relative;

  /* width: 200px; */

}



.form-floating2 select {

  width: 100%;

  padding: 8px;

  border: none;

  border-bottom: solid 2px #ccc !important;
  /* Set the bottom border color */

  background-color: transparent;

  color: black;

  appearance: none;

  -webkit-appearance: none;

  -moz-appearance: none;

}
select:focus, select:active{
  outline:0 !important;
}